<ion-header translucent>
    <ion-toolbar class="transparent-background-color">
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content style="height: 40%;" class="transparent-background-color">
    <ion-list class="transparent-background-color">
        <ion-item>
            <ion-avatar style="margin-right: 15px ;">
                <img src="../../assets/img/avatar.jpg" />
            </ion-avatar>
            Mauro
            <ion-button slot="end">
                Partilha
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-content>
    <ion-list>
        <ion-label class="ion-text-wrap">mymoments.com/</ion-label>

    </ion-list>
    <ion-list>
        <ion-button slot="center">
            Partilha
        </ion-button>
    </ion-list>

</ion-content>