<ion-header>
    <ion-toolbar>
        <ion-title>notificacoes</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Jachson </h2>
                <h3>Partilhou um album!</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Valdo</h2>
                <h3>Partilhou um album!</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Rey</h2>
                <h3>Partilhou um album!</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/img/avatar.jpg">
            </ion-avatar>
            <ion-label>
                <h2>Luke</h2>
                <h3>Partilhou um album!</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>